## Data cleaning & Feature Engineering

In [1]:
# import libraries
import numpy as np
import pandas as pd

In [3]:
# read the dataframe
df = pd.read_csv('~/Downloads/Omdena/MLOps/solcast_project/datasets/raw/solcast_PT60M.csv')

In [7]:
# printout the column names
df.columns

Index(['PeriodEnd', 'PeriodStart', 'Period', 'AirTemp', 'CloudOpacity', 'Dhi',
       'Dni', 'Ghi', 'PrecipitableWater', 'RelativeHumidity',
       'SurfacePressure', 'WindDirection10m', 'WindSpeed10m', 'Zenith'],
      dtype='object')

In [8]:
# select some features
df = df[['PeriodEnd', 'PeriodStart', 'AirTemp', 'Dhi', 'Dni', 'Ghi',
       'PrecipitableWater', 'RelativeHumidity', 'SurfacePressure',
       'WindDirection10m', 'WindSpeed10m']]

In [9]:
# randomly display 10 rows
df.sample(10)

,PeriodEnd,PeriodStart,AirTemp,Dhi,Dni,Ghi,PrecipitableWater,RelativeHumidity,SurfacePressure,WindDirection10m,WindSpeed10m
4991,2019-07-27T01:00:00Z,2019-07-27T00:00:00Z,31.6,91,111,113,23.6,29.2,993.6,70,2.9
21086,2021-05-27T16:00:00Z,2021-05-27T15:00:00Z,26.3,315,412,622,40.0,73.7,993.8,174,5.5
21473,2021-06-12T19:00:00Z,2021-06-12T18:00:00Z,32.0,468,372,836,32.6,53.1,990.9,171,3.6
666,2019-01-27T20:00:00Z,2019-01-27T19:00:00Z,15.6,93,931,686,10.1,50.3,994.1,330,3.4
23540,2021-09-06T22:00:00Z,2021-09-06T21:00:00Z,34.8,101,0,101,49.2,42.7,988.4,38,5.2
25248,2021-11-17T02:00:00Z,2021-11-17T01:00:00Z,21.4,0,0,0,18.4,66.7,990.8,168,5.6
4323,2019-06-29T05:00:00Z,2019-06-29T04:00:00Z,27.1,0,0,0,36.6,72.1,993.7,153,3.1
14342,2020-08-19T16:00:00Z,2020-08-19T15:00:00Z,30.8,154,733,663,26.8,35.8,990.6,37,3.5
25752,2021-12-08T02:00:00Z,2021-12-08T01:00:00Z,15.3,0,0,0,19.2,58.3,990.8,185,3.0
25031,2021-11-08T01:00:00Z,2021-11-08T00:00:00Z,17.7,0,0,0,12.0,59.5,997.6,152,2.3

In [10]:
old_names = ['PeriodEnd', 'PeriodStart', 'AirTemp', 'Dhi', 'Dni', 'Ghi','PrecipitableWater', 'RelativeHumidity',
             'SurfacePressure', 'WindDirection10m', 'WindSpeed10m'] 
new_names = ['PeriodEnd','PeriodStart','Temperature', 'DHI', 'DNI', 'Radiation', 'Precipitation', 'Humidity', 
             'Pressure', 'WindDirection', 'WindSpeed']
df.rename(columns = dict(zip(old_names, new_names)), inplace = True)

In [11]:
# display dataframe
df.head()

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed
0,2018-12-31T02:00:00Z,2018-12-31T01:00:00Z,6.1,0,0,0,34.3,91.4,986.0,138,0.8
1,2018-12-31T03:00:00Z,2018-12-31T02:00:00Z,6.6,0,0,0,35.5,91.8,985.6,136,1.0
2,2018-12-31T04:00:00Z,2018-12-31T03:00:00Z,6.9,0,0,0,35.8,92.9,985.2,152,1.2
3,2018-12-31T05:00:00Z,2018-12-31T04:00:00Z,7.0,0,0,0,35.1,94.6,984.6,178,1.5
4,2018-12-31T06:00:00Z,2018-12-31T05:00:00Z,7.2,0,0,0,34.4,96.4,984.1,193,2.0

In [12]:
# show a summary of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26323 entries, 0 to 26322
Data columns (total 11 columns):
PeriodEnd        26323 non-null object
PeriodStart      26323 non-null object
Temperature      26323 non-null float64
DHI              26323 non-null int64
DNI              26323 non-null int64
Radiation        26323 non-null int64
Precipitation    26323 non-null float64
Humidity         26323 non-null float64
Pressure         26323 non-null float64
WindDirection    26323 non-null int64
WindSpeed        26323 non-null float64
dtypes: float64(5), int64(4), object(2)
memory usage: 2.2+ MB

In [13]:
# interpret columns as appropriate data types to ensure compatibility
df['Radiation']     = df['Radiation'].astype(float)
df['Temperature']   = df['Temperature'].astype(float) # or int
df['Pressure']      = df['Pressure'].astype(float)
df['Humidity']      = df['Humidity'].astype(int) # or int
df['WindDirection'] = df['WindDirection'].astype(float)
df['WindSpeed']     = df['WindSpeed'].astype(float)
df['PeriodStart'] = pd.to_datetime(df['PeriodStart']).dt.to_period('T').dt.to_timestamp()
df['PeriodEnd'] = pd.to_datetime(df['PeriodEnd']).dt.to_period('T').dt.to_timestamp()

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/arrays/datetimes.py:1269: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  UserWarning,

In [14]:
# display dataframe summary
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26323 entries, 0 to 26322
Data columns (total 11 columns):
PeriodEnd        26323 non-null datetime64[ns]
PeriodStart      26323 non-null datetime64[ns]
Temperature      26323 non-null float64
DHI              26323 non-null int64
DNI              26323 non-null int64
Radiation        26323 non-null float64
Precipitation    26323 non-null float64
Humidity         26323 non-null int64
Pressure         26323 non-null float64
WindDirection    26323 non-null float64
WindSpeed        26323 non-null float64
dtypes: datetime64[ns](2), float64(6), int64(3)
memory usage: 2.2 MB

In [15]:
# display top 6 rows
df.head(6)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed
0,2018-12-31 02:00:00,2018-12-31 01:00:00,6.1,0,0,0.0,34.3,91,986.0,138.0,0.8
1,2018-12-31 03:00:00,2018-12-31 02:00:00,6.6,0,0,0.0,35.5,91,985.6,136.0,1.0
2,2018-12-31 04:00:00,2018-12-31 03:00:00,6.9,0,0,0.0,35.8,92,985.2,152.0,1.2
3,2018-12-31 05:00:00,2018-12-31 04:00:00,7.0,0,0,0.0,35.1,94,984.6,178.0,1.5
4,2018-12-31 06:00:00,2018-12-31 05:00:00,7.2,0,0,0.0,34.4,96,984.1,193.0,2.0
5,2018-12-31 07:00:00,2018-12-31 06:00:00,7.4,0,0,0.0,32.9,97,983.9,210.0,2.5

In [16]:
# Create new features(year, month, day) from start and end time of data collection  
df['YearPS'] = pd.to_datetime(df['PeriodStart']).dt.year
df['YearPE'] = pd.to_datetime(df['PeriodEnd']).dt.year

df['MonthPS'] = pd.to_datetime(df['PeriodStart']).dt.month
df['MonthPE'] = pd.to_datetime(df['PeriodEnd']).dt.month

df['HourPS'] = pd.to_datetime(df['PeriodStart']).dt.hour
df['HourPE'] = pd.to_datetime(df['PeriodEnd']).dt.hour

In [17]:
df.head()

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE
0,2018-12-31 02:00:00,2018-12-31 01:00:00,6.1,0,0,0.0,34.3,91,986.0,138.0,0.8,2018,2018,12,12,1,2
1,2018-12-31 03:00:00,2018-12-31 02:00:00,6.6,0,0,0.0,35.5,91,985.6,136.0,1.0,2018,2018,12,12,2,3
2,2018-12-31 04:00:00,2018-12-31 03:00:00,6.9,0,0,0.0,35.8,92,985.2,152.0,1.2,2018,2018,12,12,3,4
3,2018-12-31 05:00:00,2018-12-31 04:00:00,7.0,0,0,0.0,35.1,94,984.6,178.0,1.5,2018,2018,12,12,4,5
4,2018-12-31 06:00:00,2018-12-31 05:00:00,7.2,0,0,0.0,34.4,96,984.1,193.0,2.0,2018,2018,12,12,5,6

In [20]:
# create a new feature for sunrise using the function below; fill time for sunrise
def time_to_sunrise(row):
    """
    A function for identifying time of sunrise.
    """
    value= 0
    if row['HourPS'] == 4 and row['HourPE'] == 5 and row['Radiation'] > 0:
        value= '05:00:00'
    elif row['HourPS'] == 5 and row['HourPE'] == 6 and row['Radiation'] > 0:
        value= '06:00:00'
    elif row['HourPS'] == 6 and row['HourPE'] == 7 and row['Radiation'] > 0:
        value= '07:00:00'
    elif row['HourPS'] == 7 and row['HourPE'] == 8 and row['Radiation'] > 0:
        value= '08:00:00'
    return value

In [22]:
#Create a new column using the function above
df['Sunrise'] = df.apply(time_to_sunrise, axis=1)
df.head(5)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise
0,2018-12-31 02:00:00,2018-12-31 01:00:00,6.1,0,0,0.0,34.3,91,986.0,138.0,0.8,2018,2018,12,12,1,2,0
1,2018-12-31 03:00:00,2018-12-31 02:00:00,6.6,0,0,0.0,35.5,91,985.6,136.0,1.0,2018,2018,12,12,2,3,0
2,2018-12-31 04:00:00,2018-12-31 03:00:00,6.9,0,0,0.0,35.8,92,985.2,152.0,1.2,2018,2018,12,12,3,4,0
3,2018-12-31 05:00:00,2018-12-31 04:00:00,7.0,0,0,0.0,35.1,94,984.6,178.0,1.5,2018,2018,12,12,4,5,0
4,2018-12-31 06:00:00,2018-12-31 05:00:00,7.2,0,0,0.0,34.4,96,984.1,193.0,2.0,2018,2018,12,12,5,6,0

In [24]:
# create a new feature for sunset using the function below; fill time for sunset
def time_to_sunset(row):
    """
    A function for identifying time of sunset.
    """
    value= 0
    if row['HourPS'] == 17 and row['HourPE'] == 18 and row['Radiation']> 0:
        value= '18:00:00'
    elif row['HourPS'] == 18 and row['HourPE']== 19 and row['Radiation']> 0:
        value= '19:00:00'
    elif row['HourPS'] == 19 and row['HourPE']== 20 and row['Radiation']> 0:
        value= '20:00:00'
    elif row['HourPS'] == 20 and row['HourPE']== 21 and row['Radiation']> 0:
        value= '20:00:00'
        return value

In [25]:
#Create a new column using the function above
df['Sunset'] = df.apply(time_to_sunset, axis=1)

In [26]:
df.Sunset.unique()

array([None, '20:00:00'], dtype=object)

In [27]:
df.shape

(26323, 19)

In [28]:
# show summary of our dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26323 entries, 0 to 26322
Data columns (total 19 columns):
PeriodEnd        26323 non-null datetime64[ns]
PeriodStart      26323 non-null datetime64[ns]
Temperature      26323 non-null float64
DHI              26323 non-null int64
DNI              26323 non-null int64
Radiation        26323 non-null float64
Precipitation    26323 non-null float64
Humidity         26323 non-null int64
Pressure         26323 non-null float64
WindDirection    26323 non-null float64
WindSpeed        26323 non-null float64
YearPS           26323 non-null int64
YearPE           26323 non-null int64
MonthPS          26323 non-null int64
MonthPE          26323 non-null int64
HourPS           26323 non-null int64
HourPE           26323 non-null int64
Sunrise          26323 non-null int64
Sunset           1096 non-null object
dtypes: datetime64[ns](2), float64(6), int64(10), object(1)
memory usage: 3.8+ MB

In [29]:
# changing integer values to datetime format
df_new = df.loc[~((df['Radiation'] == 0) & (df['DNI'] == 0) & (df['DHI'] == 0)),:]

In [31]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14110 entries, 12 to 26322
Data columns (total 19 columns):
PeriodEnd        14110 non-null datetime64[ns]
PeriodStart      14110 non-null datetime64[ns]
Temperature      14110 non-null float64
DHI              14110 non-null int64
DNI              14110 non-null int64
Radiation        14110 non-null float64
Precipitation    14110 non-null float64
Humidity         14110 non-null int64
Pressure         14110 non-null float64
WindDirection    14110 non-null float64
WindSpeed        14110 non-null float64
YearPS           14110 non-null int64
YearPE           14110 non-null int64
MonthPS          14110 non-null int64
MonthPE          14110 non-null int64
HourPS           14110 non-null int64
HourPE           14110 non-null int64
Sunrise          14110 non-null int64
Sunset           1096 non-null object
dtypes: datetime64[ns](2), float64(6), int64(10), object(1)
memory usage: 2.2+ MB

In [32]:
# display 10 random samples of the dataframe
df_new.sample(10)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise,Sunset
11728,2020-05-02 18:00:00,2020-05-02 17:00:00,28.2,256,713,925.0,29.5,61,992.2,184.0,6.0,2020,2020,5,5,17,18,0,None
12758,2020-06-14 16:00:00,2020-06-14 15:00:00,28.8,121,848,764.0,20.1,40,994.8,97.0,2.0,2020,2020,6,6,15,16,0,None
22694,2021-08-02 16:00:00,2021-08-02 15:00:00,27.0,178,0,178.0,56.9,73,994.4,294.0,0.9,2021,2021,8,8,15,16,0,None
6645,2019-10-03 23:00:00,2019-10-03 22:00:00,32.9,141,331,269.0,36.7,39,989.6,129.0,4.4,2019,2019,10,10,22,23,0,None
2536,2019-04-15 18:00:00,2019-04-15 17:00:00,23.3,141,930,979.0,11.5,42,990.7,184.0,6.7,2019,2019,4,4,17,18,0,None
10193,2020-02-28 19:00:00,2020-02-28 18:00:00,19.1,90,1008,874.0,7.1,22,1004.1,336.0,1.3,2020,2020,2,2,18,19,0,None
24981,2021-11-05 23:00:00,2021-11-05 22:00:00,15.9,54,584,193.0,11.9,49,997.6,67.0,2.4,2021,2021,11,11,22,23,0,None
4172,2019-06-22 22:00:00,2019-06-22 21:00:00,33.0,342,318,595.0,48.1,53,987.0,160.0,6.7,2019,2019,6,6,21,22,0,None
7245,2019-10-28 23:00:00,2019-10-28 22:00:00,21.7,119,16,122.0,31.7,81,987.9,121.0,2.7,2019,2019,10,10,22,23,0,None
25406,2021-11-23 16:00:00,2021-11-23 15:00:00,14.3,64,867,438.0,5.0,30,1000.4,164.0,2.5,2021,2021,11,11,15,16,0,None

In [33]:
# convert datetime column of endperiod to just date
df_new['Date'] = pd.to_datetime(df_new['PeriodEnd']).dt.normalize()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [34]:
# convert the column (it's a string) to datetime type
dt_series = pd.to_datetime(df_new['Date'])

# create datetime index passing the datetime series
dt_index = pd.DatetimeIndex(dt_series.values)

# 
df_new1 = df_new.set_index(dt_index)

In [35]:
# display first 5 rows
df_new1.head()

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise,Sunset,Date
2018-12-31,2018-12-31 14:00:00,2018-12-31 13:00:00,6.0,12,1,12.0,9.0,91,985.4,251.0,5.1,2018,2018,12,12,13,14,0,None,2018-12-31
2018-12-31,2018-12-31 15:00:00,2018-12-31 14:00:00,6.4,82,226,130.0,7.1,88,986.1,253.0,5.2,2018,2018,12,12,14,15,0,None,2018-12-31
2018-12-31,2018-12-31 16:00:00,2018-12-31 15:00:00,7.7,144,323,267.0,6.1,80,986.5,256.0,5.4,2018,2018,12,12,15,16,0,None,2018-12-31
2018-12-31,2018-12-31 17:00:00,2018-12-31 16:00:00,9.8,161,612,458.0,6.0,69,986.4,257.0,5.6,2018,2018,12,12,16,17,0,None,2018-12-31
2018-12-31,2018-12-31 18:00:00,2018-12-31 17:00:00,11.9,225,512,512.0,5.9,59,986.4,259.0,5.8,2018,2018,12,12,17,18,0,None,2018-12-31

In [36]:
# sample daily average for the solar and weather features
df_new1['Daily_radiation'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Radiation'].mean()
df_new1['Daily_DNI'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['DNI'].mean()
df_new1['Daily_DHI'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['DHI'].mean()
df_new1['Daily_Temp'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Temperature'].mean()
df_new1['Daily_Precip'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Precipitation'].mean()
df_new1['Daily_Humidity'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Humidity'].mean()
df_new1['Daily_Pressure'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Pressure'].mean()
df_new1['Daily_WindDir'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['WindDirection'].mean()
df_new1['Daily_WindSpeed'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['WindSpeed'].mean()

In [37]:
# display a summary of our dataframe
df_new1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 14110 entries, 2018-12-31 to 2021-12-31
Data columns (total 29 columns):
PeriodEnd          14110 non-null datetime64[ns]
PeriodStart        14110 non-null datetime64[ns]
Temperature        14110 non-null float64
DHI                14110 non-null int64
DNI                14110 non-null int64
Radiation          14110 non-null float64
Precipitation      14110 non-null float64
Humidity           14110 non-null int64
Pressure           14110 non-null float64
WindDirection      14110 non-null float64
WindSpeed          14110 non-null float64
YearPS             14110 non-null int64
YearPE             14110 non-null int64
MonthPS            14110 non-null int64
MonthPE            14110 non-null int64
HourPS             14110 non-null int64
HourPE             14110 non-null int64
Sunrise            14110 non-null int64
Sunset             1096 non-null object
Date               14110 non-null datetime64[ns]
Daily_radiation    14110 non-null float64
Daily_DNI          14110 non-null float64
Daily_DHI          14110 non-null float64
Daily_Temp         14110 non-null float64
Daily_Precip       14110 non-null float64
Daily_Humidity     14110 non-null float64
Daily_Pressure     14110 non-null float64
Daily_WindDir      14110 non-null float64
Daily_WindSpeed    14110 non-null float64
dtypes: datetime64[ns](3), float64(15), int64(10), object(1)
memory usage: 3.5+ MB

In [38]:
# drop irrelevant features
new_df= df_new1.drop(['PeriodStart', 'YearPS', 'HourPS', 'HourPE', 'Sunrise', 'Sunset', 'MonthPS', 'YearPE'], axis= 1)

In [39]:
# display first 10 rows
new_df.head(10)

,PeriodEnd,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,...,Date,Daily_radiation,Daily_DNI,Daily_DHI,Daily_Temp,Daily_Precip,Daily_Humidity,Daily_Pressure,Daily_WindDir,Daily_WindSpeed
2018-12-31,2018-12-31 14:00:00,6.0,12,1,12.0,9.0,91,985.4,251.0,5.1,...,2018-12-31,305.0,310.5,162.6,11.44,6.85,63.6,986.08,257.8,5.16
2018-12-31,2018-12-31 15:00:00,6.4,82,226,130.0,7.1,88,986.1,253.0,5.2,...,2018-12-31,305.0,310.5,162.6,11.44,6.85,63.6,986.08,257.8,5.16
2018-12-31,2018-12-31 16:00:00,7.7,144,323,267.0,6.1,80,986.5,256.0,5.4,...,2018-12-31,305.0,310.5,162.6,11.44,6.85,63.6,986.08,257.8,5.16
2018-12-31,2018-12-31 17:00:00,9.8,161,612,458.0,6.0,69,986.4,257.0,5.6,...,2018-12-31,305.0,310.5,162.6,11.44,6.85,63.6,986.08,257.8,5.16
2018-12-31,2018-12-31 18:00:00,11.9,225,512,512.0,5.9,59,986.4,259.0,5.8,...,2018-12-31,305.0,310.5,162.6,11.44,6.85,63.6,986.08,257.8,5.16
2018-12-31,2018-12-31 19:00:00,13.5,236,360,450.0,6.1,53,986.2,260.0,5.7,...,2018-12-31,305.0,310.5,162.6,11.44,6.85,63.6,986.08,257.8,5.16
2018-12-31,2018-12-31 20:00:00,14.5,248,355,455.0,6.5,49,986.0,261.0,5.3,...,2018-12-31,305.0,310.5,162.6,11.44,6.85,63.6,986.08,257.8,5.16
2018-12-31,2018-12-31 21:00:00,15.4,255,233,373.0,7.0,45,985.7,262.0,4.9,...,2018-12-31,305.0,310.5,162.6,11.44,6.85,63.6,986.08,257.8,5.16
2018-12-31,2018-12-31 22:00:00,15.2,182,173,247.0,7.3,47,985.8,261.0,4.5,...,2018-12-31,305.0,310.5,162.6,11.44,6.85,63.6,986.08,257.8,5.16
2018-12-31,2018-12-31 23:00:00,14.0,81,310,146.0,7.5,55,986.3,258.0,4.1,...,2018-12-31,305.0,310.5,162.6,11.44,6.85,63.6,986.08,257.8,5.16

In [40]:
# show a summary of the dataframe
new_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 14110 entries, 2018-12-31 to 2021-12-31
Data columns (total 21 columns):
PeriodEnd          14110 non-null datetime64[ns]
Temperature        14110 non-null float64
DHI                14110 non-null int64
DNI                14110 non-null int64
Radiation          14110 non-null float64
Precipitation      14110 non-null float64
Humidity           14110 non-null int64
Pressure           14110 non-null float64
WindDirection      14110 non-null float64
WindSpeed          14110 non-null float64
MonthPE            14110 non-null int64
Date               14110 non-null datetime64[ns]
Daily_radiation    14110 non-null float64
Daily_DNI          14110 non-null float64
Daily_DHI          14110 non-null float64
Daily_Temp         14110 non-null float64
Daily_Precip       14110 non-null float64
Daily_Humidity     14110 non-null float64
Daily_Pressure     14110 non-null float64
Daily_WindDir      14110 non-null float64
Daily_WindSpeed    14110 non-null float64
dtypes: datetime64[ns](2), float64(15), int64(4)
memory usage: 2.7 MB

In [41]:
# dropping ALL duplicate values exceept the last value
new_df = new_df[~new_df.Date.duplicated(keep = 'last')]

In [42]:
# show the number of rows and columns available
new_df.shape

(1097, 21)

In [43]:
# 
new_df.head(10)

,PeriodEnd,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,...,Date,Daily_radiation,Daily_DNI,Daily_DHI,Daily_Temp,Daily_Precip,Daily_Humidity,Daily_Pressure,Daily_WindDir,Daily_WindSpeed
2018-12-31,2018-12-31 23:00:00,14.0,81,310,146.0,7.5,55,986.3,258.0,4.1,...,2018-12-31,305.000000,310.500000,162.600000,11.440000,6.850000,63.600000,986.080000,257.800000,5.160000
2019-01-01,2019-01-01 23:00:00,8.6,41,0,41.0,15.1,69,995.0,16.0,5.2,...,2019-01-01,119.272727,16.272727,116.454545,8.627273,10.709091,67.909091,994.736364,36.454545,5.445455
2019-01-02,2019-01-02 23:00:00,3.3,26,0,26.0,33.4,97,991.0,15.0,4.6,...,2019-01-02,32.545455,0.000000,32.545455,3.436364,31.627273,94.909091,993.781818,8.090909,5.081818
2019-01-03,2019-01-03 23:00:00,9.2,49,627,187.0,7.9,60,988.0,301.0,4.4,...,2019-01-03,219.181818,238.272727,125.454545,6.518182,15.536364,79.272727,989.736364,283.545455,5.263636
2019-01-04,2019-01-04 23:00:00,15.9,43,687,195.0,6.9,43,989.8,285.0,2.9,...,2019-01-04,364.545455,720.000000,49.727273,11.209091,8.990909,48.818182,990.590909,301.909091,3.900000
2019-01-05,2019-01-05 23:00:00,18.2,48,657,196.0,6.3,49,992.0,190.0,3.2,...,2019-01-05,371.363636,716.454545,56.727273,13.945455,5.536364,59.090909,992.990909,225.545455,3.081818
2019-01-06,2019-01-06 23:00:00,20.0,71,427,170.0,23.3,69,988.8,175.0,6.1,...,2019-01-06,200.181818,160.363636,155.181818,16.454545,16.218182,73.727273,991.318182,182.000000,5.509091
2019-01-07,2019-01-07 23:00:00,21.4,108,35,118.0,19.9,63,990.5,238.0,2.3,...,2019-01-07,223.454545,122.181818,168.636364,19.818182,30.472727,77.272727,991.409091,231.545455,3.390909
2019-01-08,2019-01-08 23:00:00,19.5,106,0,106.0,16.2,57,996.0,6.0,3.7,...,2019-01-08,310.090909,378.000000,115.727273,17.963636,15.936364,71.727273,995.018182,247.636364,2.945455
2019-01-09,2019-01-09 23:00:00,13.3,58,570,192.0,16.6,45,1002.4,36.0,3.6,...,2019-01-09,332.818182,486.181818,105.000000,12.536364,16.027273,48.909091,1003.454545,27.454545,5.109091

In [44]:
# list out the column names
new_df.columns

Index(['PeriodEnd', 'Temperature', 'DHI', 'DNI', 'Radiation', 'Precipitation',
       'Humidity', 'Pressure', 'WindDirection', 'WindSpeed', 'MonthPE', 'Date',
       'Daily_radiation', 'Daily_DNI', 'Daily_DHI', 'Daily_Temp',
       'Daily_Precip', 'Daily_Humidity', 'Daily_Pressure', 'Daily_WindDir',
       'Daily_WindSpeed'],
      dtype='object')

In [45]:
# select column features
final_df= new_df[['MonthPE', 'Date','Daily_Temp','Daily_Precip', 'Daily_Humidity', 'Daily_Pressure',\
                  'Daily_WindDir','Daily_WindSpeed','Daily_DNI', 'Daily_DHI','Daily_radiation']]

In [46]:
# print the first 5 rows
final_df.head()

,MonthPE,Date,Daily_Temp,Daily_Precip,Daily_Humidity,Daily_Pressure,Daily_WindDir,Daily_WindSpeed,Daily_DNI,Daily_DHI,Daily_radiation
2018-12-31,12,2018-12-31,11.440000,6.850000,63.600000,986.080000,257.800000,5.160000,310.500000,162.600000,305.000000
2019-01-01,1,2019-01-01,8.627273,10.709091,67.909091,994.736364,36.454545,5.445455,16.272727,116.454545,119.272727
2019-01-02,1,2019-01-02,3.436364,31.627273,94.909091,993.781818,8.090909,5.081818,0.000000,32.545455,32.545455
2019-01-03,1,2019-01-03,6.518182,15.536364,79.272727,989.736364,283.545455,5.263636,238.272727,125.454545,219.181818
2019-01-04,1,2019-01-04,11.209091,8.990909,48.818182,990.590909,301.909091,3.900000,720.000000,49.727273,364.545455

In [48]:
# print the first 5 rows
final_df.shape

(1097, 11)

In [50]:
# save cleaned dataset
final_df.to_csv('~/Downloads/Omdena/MLOps/solcast_project/datasets/cleaned_solar_irradiation.csv')